.gitignore

#Binary Files
*.bin
*.sys
*.elf

#The images
*.img
*.qcow2
*.vmdk

#Object files
*.o

#Visual Studio files
.vs
.vscode/
[Bb]in/

#mac sh
docker_build_command.sh

#compiling files
md5
vision

#PVS-Studio
*.lesshst
*.config
